/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */





body{
    background-image: url('../img/tbtbg.jpeg');
    background-color: #416361;
    color: white;
/*  background-size:100%;
    background-size: cover;*/
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  /*  width: 64em;*/
/*background-position: 50% 50%;*/
/*  width: 64em;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    font-family: Quicksand;
    font-size: 1.5em;
    /*padding: 30px*/

}

.maincontent h1 {
   font-family: Quicksand; 
   font-size: 2em; 
   font-weight: 700;
}
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    border: 200%;
    background-color: #416361;
    color: #E0E0E0;
}
.head1 {
    font-size: 3em;
}

.container {
    width: 64em;
    margin-left: auto;
    margin-right: auto;
}

.headbox {
    background-color: white;
    color: #416361;
    border-left: 0.625em black;
    border-bottom: solid 0.625em #416361;
    width: 64em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    text-decoration: none;
    /*background-position: center;*/
    /*position: fixed;*/
    overflow: hidden;
/*  margin-top: 0;*/



}

.logoleft {
    float: left;
    background-color: white;
    width: 25%;
}

.navmenu {
    float: left;
    background-color: white;
    font-size: 1.5em;
/*  letter-spacing: .5em;*/
    font-family: Quicksand;
    font-weight: 700;
    /*height: 180px;*/
/*  text-decoration: none;*/
    overflow: hidden;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    color: inherit;
    vertical-align: text-bottom;

}

.navmenu li {
    display: inline-block;
    padding: 1.5em;
/*  text-decoration: none;
    color: inherit;*/
    vertical-align: text-bottom;
}

.maincontent {
    background-color: white;
    color: #416361;
    width: 49%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    text-align: justify;
    padding: 1em;
    font-family: Tahoma;
    /* commented out since the video won't fit. box-sizing: border-box;*/
}

.desc {
    background-color: white;

}

.morevid {
    
}

.form-feedback textarea {
width: 100%;
}

.form-feedback button {
    background-color: #416361;
    width: 25%;
    color: white;
    border-radius: 0.35em;

}

.aboutus {
    background-color: white;
    color: black;

}

.footer {
    background-color: #416361;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    padding: 1em 0;
    color: #E0E0E0;
    text-align: justify;
    padding: 1em;
    font-family: Quicksand;
}

.footer .socialize li {
    display: inline-block;
    font-family: Socialico;
    font-size: 3.5em;
    float: right;
}








/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}